# 严格限制node版本
engine-strict=false
strict-peer-dependencies=false
registry=https://registry.npmmirror.com/
sass_binary_site=https://npm.taobao.org/mirrors/node-sass/
phantomjs_cdnurl=http://cdn.npm.taobao.org/dist/phantomjs
puppeteer_download_host=https://storage.googleapis.com.cnpmjs.org
mozjpeg_binary_site=https://npm.taobao.org/mirrors/mozjpeg-bin
optipng_binary_site=https://npm.taobao.org/mirrors/optipng-bin
ELECTRON_MIRROR=http://npm.taobao.org/mirrors/electron/
sentrycli_cdnurl=https://npm.taobao.org/mirrors/sentry-cli